ul {
    list-style-type: none;
    text-align: center;
    font-size: 1.4em;
    color: white;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    margin-bottom: 1rem;
}

li {
    display: inline;
    margin-right: 10rem;
    background: rebeccapurple;
    border: 2px solid black;
}

/*li {*/
/*    border-radius:  12px; !* Скругленные углы *!*/
/*    padding:  10px; !* Внутренний отступ *!*/
/*    margin:  5px  0; !* Внешний отступ сверху и снизу *!*/
/*    color: white; !* Белый текст *!*/
/*    font-size:  16px; !* Размер шрифта *!*/
/*    cursor: pointer; !* Указатель курсора *!*/
/*}*/

