footer {
    background-color: black;
    border-radius: 1em;
    box-shadow:  0  0  10px rgba(0,  0,  0,  0.5);
    color: white;
    height: 6em;
}

p {
    padding-top: 1em;
    text-align: center;
}

.typewrite {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    color: transparent;
}


.typewrite span {
    text-align: center;
    color: white;
    padding-bottom: 1em;
}
